/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: space-around;
}

.product-item {
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
}
